<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Ghibli Fans - Discussion</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/mycss.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<header>
	<div class="navbar-header">
		<a class="navbar-brand" href="/">
			<img style="max-width:640px; margin-top: 1px;" src="{{ url_for('static', filename='img/Studio-Ghibli-Logo.jpg') }}">
		</a>
    </div>

	<div class = "container-fluid">
		<a href="{{ url_for('logout') }}">
			<button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top: 5px; margin-bottom: 5px; height: 44px; margin-right: 15px">
			<span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout
			</button>
		</a>
		<a href="{{ url_for('movies') }}">
			<button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top: 5px; margin-bottom: 5px; height: 44px; margin-right: 15px">
			<span class="glyphicon glyphicon-off" aria-hidden="true"></span> Movie List
			</button>
		</a>
		<div style="margin-right: 10px; margin-left: 15px; margin-top: 5px; margin-bottom: 5px;"  class="container-fluid">	
		</div>
	</div>
</header>

<body>
	<h2>Ghibli Fans - Discussion Forum</h2>
	<p>
		<img style="max-width:130px; margin-top: 1px;" src="/static/movie_img/{{ movieNbr }}.jpg">
		<form action="{{ url_for('comment') }}" method="post">
			<label for="comment">
				<i class="fas fa-user"></i>
			</label>
			<input type="textarea" name="entry" rows="10" cols="80" wrap="hard" placeholder="Add your comments for this Studio Ghibli movie" id="entry" required>
			<br>
			<br>
			<input type="submit" value="Add Comment">
			<br>
			<br>
		</form>
	</p>
	
	<hr>
	{% for item in data %}
	<div class="hoverDiv">
		<form action="{{ url_for('editComment')}}" method="post">
			<p contenteditable="true">{{ item[1] }}</p>
		</form>
		</br>
			<p>{{ item[0] }}</p>
		
		<hr>
	</div>
	{% endfor %}
			
</body>

</html>