<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Ghibli Fans - Login</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="login">
			<h2>Ghibli Fans - Login</h2>
			<br>
			<!-- NAVIGATION LINKS FOR LOGIN AND REGISTER -->
			<div class="links">
				<br>
				<a href="{{ url_for('login') }}" class="active">Login</a>
				<a href="{{ url_for('register') }}">Register</a>
				<br>
			</div>
			<!-- FORM TO LOG IN AS AN EXISTING FORUM MEMBER -->
			<p>Enter your user id and password to enter this site or click the REGISTER link to sign up</p>
			<br>
			<form action="{{ url_for('login') }}" method="post">
				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Username" id="username" required>
				<br>
				<br>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
				<br>
				<br>
				<input type="submit" value="Login">
				<br>
				<br>
			</form>
			<br>
			<br>
			<div class="msg"><h3>{{ msg }}</h3></div>
				
		</div>
	</body>
</html>